<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>猫猫妹陀</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
                <h1>猫猫妹陀</h1>
                <p>这里是猫猫妹陀的博客，是猫猫送给妹陀的结婚纪念日礼物哦～ </p>
                <p>2016.12.22 - forever</p>

                <p>
                    <a class="btn btn-primary btn-lg" href="../dir/" role="button">进入</a>
                </p>
            </div>
    </div>

</body>
</html>